
/_ReSharper.MinecraftServerCommander
/MinecraftServerCommander.suo
/MinecraftServerCommander.5.1.ReSharper.user
/MinecraftServerCommander/bin
/MinecraftServerCommander/obj
/MinecraftServerCommander.GUI/bin
/MinecraftServerCommander.GUI/obj
/MinecraftServerCommander.Library/bin
/MinecraftServerCommander.Library/obj
